# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Entornos
.env
.env.local
.env.*.local

# Prisma
/prisma/dev.db
/prisma/*.sqlite
/prisma/migrations/
*.db-journal

# Logs
logs/
*.log
*.out
*.pid

# Sistema
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Producción / build
dist/
build/

# Docker
docker-compose.override.yml
